<%= render "partials/topnav" %>
<%= hidden_field_tag 'winner', '', value: @winner_number %>

<%= stylesheet_link_tag("racer") %>
<%=javascript_include_tag "racerAnimator.js" %>
<%=javascript_include_tag "racer.js" %>
<!-- <div id="round"> -->
	

<div class='maze'>
    <div class='walker'>&#9654;</div>
    <div id='svgPath'><%= image_tag("path.svg", size: "800x800")%></div>
</div>


<div id="winner">
	<h1><%=  %></h1>

</div>

<!-- </div> -->
