<%= render "partials/topnav" %>

<h1>The winner is racer <%= @round.winner.id %>!!!</h1>

<%= stylesheet_link_tag("racer") %>

<div class='maze'>
    <div class='walker'>&#9654;</div>
    <div id='svgPath'><%= image_tag("path.svg", size: "800x800")%></div>
</div>

<%=javascript_include_tag "racerAnimator.js" %>
<%=javascript_include_tag "racer.js" %>
